.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}
.icon {
  @extend .flex-row-center;
  width: 150px;
  height: 100px;
  svg {
    margin: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .iconWrap {
    &:hover {
      color: orange;
    }
  }
}

.m-auto {
  margin: 0 auto;
}

.margin-all-1 {
  margin: 1rem;
}
.margin-left-half {
  margin-left: 0.5rem;
}

.padding-all-1 {
  padding: 1rem;
}
.padding-0 {
  padding: 0rem;
}

.font-size-one-half {
  font-size: 1.5rem;
}
input:invalid ~ span:after {
  content: "✖";
  padding-left: 5px;
  position: absolute;
}
