@import "../../assets/globalScss/common.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  font-weight: bold;
  height: 10vh;
  top: 0;
  .logowrap {
    width: 10%;
    margin-left: 1rem;
    img {
      width: 50px;
      height: 50px;
      background-size: cover;
    }
    :hover {
      transform: scale(1.4);
    }
  }
  .location {
    width: 40%;
    cursor: pointer;
    font-size: 0.75rem;
    span:first-child {
      text-decoration: underline;
      font-weight: 700;
    }
  }
  @extend .icon;
  .navbarmenu {
    display: none;
  }

  .navbarmenuopen {
    width: 100%;
    height: 100vh;
    touch-action: none;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 1000;
    @extend .flex-column-center;
    @extend .icon;
  }
  .hamburgerclose {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.loginForm {
  width: 100%;
  height: 50vh;
  .loginHeader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 2rem;
    }
  }
  .loginInput {
    width: 80%;
    margin: 1rem auto;
    input {
      padding: 1.5rem;
      width: 100%;
    }
    input:invalid {
      border: 1px solid red;
    }
    input:valid {
      border: 1px solid green;
    }
  }
  .loginSubmit {
    width: 80%;
    margin: 1.5rem auto;
    height: 5vh;
    button {
      width: 100%;
      height: 100%;
      background-color: orange;
      color: white;
      font-size: 1rem;
      border-radius: 2px;
      border: none;
    }
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    .hamburger {
      display: none;
    }
    .navbarmenuopen {
      display: none;
    }
    .navbarmenu {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
