.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 80%;
    padding: 1rem;
    border: 1px solid lightgray;
    &:focus {
      outline: none;
      box-shadow: 0 2px 4px 0 lightgray;
    }
    &:invalid {
      border: 1px solid red;
    }
  }
}
