@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 14px;
}
@font-face {
  font-family: "Milliard Light";
  font-style: normal;
  font-weight: normal;
  src: local("Milliard Light"),
    url("./assets/fonts/milliard/Rene\ Bieder\ \ Milliard\ Light.woff")
      format("woff");
}

body {
  margin: 0;
  font-family: "Milliard Light", Arial, Helvetica Neue, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
